@model AnotherTechblog.Models.EncryptionCipherViewModel

<h1>Encrypt Text</h1>

<form method="post">
    <div class="form-group">
        <label for="plainText">Plain Text:</label>
        <input type="text" class="form-control" id="plainText" name="plainText" value="@Model.PlainText">
    </div>
    <div class="form-group">
        <label for="algorithm">Algorithm:</label>
        <select class="form-control" id="algorithm" name="algorithm">
            @{
                string[] options = { "caesar", "vigenere", "railfence", "sha256"}; 
                foreach (var option in options)
                {
                    if (option == Model.Algorithm)
                    {
                        <option value="@option" selected="selected">@option</option>
                    }
                    else
                    {
                        <option value="@option">@option</option>
                    }
                }
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Encrypt</button>
</form>

@if (!string.IsNullOrEmpty(Model.Cipher))
{
    <hr />
    <h2>Encrypted Text:</h2>
    <p>@Model.Cipher</p>
}
